name: Nextjs CI/CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options:
          - dev
          - staging
          - prod
        default: dev

      deploy:
        description: "Deploy after build?"
        type: boolean
        required: true
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Nodjs
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build with Nodjs
        run: npm run build

      - name: Run tests
        run: npm test

      - name: Show selected options
        run: |
          echo "Environment chosen: ${{ github.event.inputs.environment }}"
          echo "Deploy? ${{ github.event.inputs.deploy }}"

      - name: Deploy (only if checkbox = true)
        if: ${{ github.event.inputs.deploy == 'true' }}
        run: |
          echo "Deploying to environment: ${{ github.event.inputs.environment }}"
          # your deploy commands here
          # example:
          # scp target/app.jar user@server:/deploy/path/
